@import "vars"
@import "fonts"
// @import "interface"
// @import "helpers"

// ::placeholder
// 	color: #666

// ::selection
// 	background-color: $accent
// 	color: #fff
// input:focus
// 	border-color: $accent
// 	background-image: none
// *
// 	outline: 0
// body
// 	margin: 0
// 	font-size: 16px
// 	min-width: 320px
// 	position: relative
// 	font-family: $default-font
// 	overflow-x: hidden
// 	color: #000000
// 	input, textarea
// 		border: #666 1px solid
// 		outline: none
// 		&:focus:required:invalid
// 			border-color: red
// 		&:required:valid
// 			border-color: green
			


*
  margin: 0
  padding: 0
  outline: none

body
  font-family: $default-font
  color: #000
  margin: 0
  padding: 0
  box-sizing: border-box
  min-width: 320px
  font-size: 16px
 
.container
  paddning: 0 0
button
  -webkit-tap-highlight-color: rgba(0,0,0,0)
.button
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  cursor: pointer
  font-family: $Bold, sans-serif
  text-decoration: none
  background-color: #f61a53
  color: #fff
  font-size: 20px
  width: 262px
  height: 62px
  border: 1px solid #f61a53
  border-radius: 30px
  outline: none
  box-shadow: 0px 15px 30px 0px rgba(246, 26, 83, 0.16)
  &:hover
    box-shadow: none
.title
  
  h1
    font-family: $Bold, sans-serif
    line-height: 19px
    font-size: 30px
.descr
  padding-top: 40px
  font-size: 18px
  line-height: 22px
  text-align: center
a
  -webkit-tap-highlight-color: rgba(0,0,0,0)
.back-button
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  z-index: 9999
  position: fixed
  bottom: 3%
  right: 3%
  width: 34px
  height: 34px
  cursor: pointer
  display: none
  font-size: 60px
  color: #faeb78
  transform: rotate(90deg)
 
  
  // background: url("/img/button-top.png") no-repeat
 
  

  
  
    
  
    
    
@import "blocks/common/header"
@import "blocks/common/mainscreen"
@import "blocks/common/production"
@import "blocks/common/goods"
@import "blocks/common/delivery"
@import "blocks/common/contacts"
@import "blocks/common/footer"
@import "blocks/common/media"
