.contacts
	background-color: #f8f8f8
	height: 540px
	&-requisites
		display: flex
		justify-content: center
		align-content: center
		align-items: center
		flex-direction: row
	&-wrap
		display: flex
		flex-direction: row
		padding-top: 35px
	&-flex
		display: flex
		flex-direction: column
	&-title
		margin-top: 55px
		h1
			line-height: 39px
		
	&-social
		display: flex
		padding-left: 100px
		&__wrapper
			display: flex
			padding: 0 0 0 20px
			align-items: center
		&__descr
			padding-left: 10px
			text-decoration: none
			color: #000
			a
				text-decoration: none
				color: #000
		&__icon
			width: 100%
		&-img	
			width: 17px
			height: 17px
	&-phone
		display: flex
		&__numbers
			display: flex
			flex-direction: column
			padding-left: 10px
			a
				text-decoration: none
				color: #000
				&:last-child
					padding-top: 5px
	&-mail
		display: flex
		padding-left: 120px
		.contacts-emails
			display: flex
			flex-direction: column
			padding-left: 20px
			a
				text-decoration: none
				color: #000
				&:last-child
					padding-top: 5px


#wave-bottom
	background: #fff url('../img/contacts/bg-contacts.png') repeat-x
	height: 208px
	width: 100%
	background-position: center
	margin-bottom: -1px
	z-index: -1
@media (max-width: $width__xl)
	.contacts
		&-wrap
			justify-content: space-around
		&-mail
			padding-left: 130px
		&-social
			padding-left: 0
@media (max-width: $width__lg)
	.contacts
		&-mail
			padding-left: 24px
		&-title
			h1
				line-height: 30px
				
@media (max-width: $width__md)
	.contacts
		height: 100%
	
		&-title
			h1
				fz26px
		&-wrap
			flex-direction: column
			padding-top: 50px
		&-social
			justify-content: center
			padding: 30px 0px
		&-mail
			padding-left: 20px
		&-requisites
			display: flex
			justify-content: center
			align-content: center
			align-items: center
@media (max-width: $width__sm)
	.contacts
		
		&-mail
			
			padding-top: 20px
		&-requisites
			flex-direction: column
		&-social
			&__wrapper
				padding: 0 0 0 10px
			&__descr
				padding-left: 5px