.delivery
	padding-top: 140px
	padding-bottom: 60px
	background-color: #fff
	&-wrapper
		display: flex
		flex-direction: column
		justify-content: center
		align-content: center
		align-items: center
	&-title
		display: flex
		flex-direction: column
		justify-content: center
		text-align: center
	&-descr
		width: 400px
	&-step
		
		width: 350px
		display: flex
		flex-direction: column
		
		
		align-items: center
		h3
			font-family: $Bold, sans-serif
			font-size: 18px
			line-height: 22px
			padding-top: 20px
		p
			width: 200px
		&s
			display: flex
			justify-content: space-between
			text-align: center
			width: 100%
			padding: 65px 0px 85px 0px
			position: relative
			&::before
				content: ''
				position: absolute
				z-index: 9
				top: 105px
				left: 165px
				display: block
				border-bottom: 3px dashed #fa8ba8
				height: 3px
				width: 69%
		&__icon
			z-index: 99
			width: 80px
			height: 80px
	&-form
		padding: 40px 80px
		background: url('/img/delivery/bg-form.jpg')
		
		display: flex
		flex-direction: column
		justify-content: space-around
		align-content: flex-start
		align-items: flex-start
		border-radius: 10px
		width: 905px
		height: 270px
		&__title
			text-align: left
			h3
				font-family: $Bold, san-serif
				font-size: 18px
		&__input
			width: 100%
			position: relative
			input
				padding-left: 60px
				width: 260px
				height: 45px
				border: 1px solid #ffffff
				border-radius: 40px
			&__wrapper
				display: flex
				
				justify-content: flex-start
				align-content: center
				align-items: center
				padding-top: 20px
		
		&__name
			width: 260px
			height: 45px
			margin-right: 20px
			&::before
				content: ''
				position: absolute
				background: url('../img/delivery/profile.png')
				height: 45px
				width: 50px
		&__phone
			width: 260px
			height: 45px
			margin-right: 20px
			&::before
				content: ''
				position: absolute
				background: url('../img/delivery/telephone.png')
				height: 45px
				width: 50px

		&__button
			cursor: pointer
			height: 45px
			width: 185px
			font-family: $Bold, san-serif
			font-size: 16px
			color: #fff
		&__info
			font-size: 11px
			padding-top: 30px
		&__icon
			padding-right: 10px
@media (max-width: $width__lg)
	.delivery
		&-form
			padding: 20px 20px 30px 20px
			width: 100%
		&-steps
			&::before
				width: 60%
				left: 157px
@media (max-width: $width__md)
	.delivery
		padding: 50px 0
		&-form
			padding: 30px
			
			width: 93%
			height: 400px
			background-size: cover
			&__title
				text-align: center
				margin: 0 auto
			&__input
				&__wrapper
					flex-direction: column
					
			&__phone
				padding-top: 20px
				width: 80%
				input
					width: 100%
			&__name
				width: 80%
				input
					width: 100%
			&__button
				margin-top: 40px
		&-step
			width: 100%
			padding-top: 20px 
			

		&-steps
			align-items: center
			flex-direction: column
			padding: 25px 0px 85px 0px
			&::before
				width: 0
				left: 0
		&-descr
			width: 78%