.footer
	background-color: #fff
	height: 98px
	&__wrap
		display: flex
		align-items: center
	&__logo
		padding: 0
		&-wrap
			height: 98px
			width: 90px
			
		&-img
			width: 100%
			height: 100%
	&__nav
		padding: 0
		display: flex
		
		justify-content: center
		align-items: center
		&-mobile
			display: flex
		
		&-wrap
			display: flex
			flex-direction: row
			justify-content: space-between
			align-items: center
			height: 60px
			padding-left: 85px
		&-item
			display: flex
			align-items: center
			justify-content: center
			align-content: center
			padding: 0 15px
			height: 50px
			border-top: none
			&-line
				display: flex
				align-content: center
				align-items: center
				text-decoration: none
				outline: none
				box-sizing: border-box
				
				height: 50px
				color: #000
				padding-top: 5px
				position: relative
				
				&::after
					position: absolute
					bottom: 0
					width: 0
					left: 50%
					top: 1%
					height: 2px
					background: #faeb78
					transition: all 0.1s ease
				&::before, 
					content: ''
					position: absolute
					bottom: 0
					width: 0
					left: 50%
					top: 1%
					height: 2px
					background: #faeb78
					transition: all 0.1s ease
				
				&:hover
					&::before
						width: 100%
				&:hover
					&::after
						width: 100%
				&:hover
					&::before
						transform: translateX(-50%)
			&__flex
				display: flex
				align-content: center
	&__phone
		display: flex
		flex-direction: row
		justify-content: flex-end
		align-items: center
		padding-right: 0
		&-wrap
			display: flex
			align-items: center
			justify-content: center
			height: 25px
			width: 25px
			
			background-color: #f3d13c
			border-radius: 50%
			border: 1px solid #f3d13c
		&-img
			width: 70%
			height: 70%
		&-number
			padding-left: 8px
			display: flex
			align-items: center
			a
				text-decoration: none
				font-family: $Bold, sans-serif
				line-height: 38px
				font-size: 16px
				color: #000
				outline: none

@media (max-width: $width__xl)
	.footer
		&__nav
			&-wrap
				padding-left: 0
@media (max-width: $width__md)
	.footer
		padding-top: 30px
@media (max-width: $width__sm)
	.footer
		&__nav
			&-item
				padding: 0 5px
				font-size: 12px
			&-mobile
				display: flex
				flex-direction: column