.goods
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	text-align: center
	padding-bottom: 130px
	overflow: hidden
	background-color: #fff
	&-header
		display: flex
		flex-direction: column
		justify-content: center
		width: 550px
		&__title
			font-family: $Bold, sans-serif
			line-height: 30px
			font-size: 30px
		&__descr
			padding-top: 35px
			font-size: 18px
			line-height: 22px
			
	&-slider
		&-top
			width: 1200px
			height: 550px
			margin-bottom: -20px
			padding-top: 65px
			&__img
				height: 100%
				margin: 0 auto
				
			&__img-wrap
				padding-top: 35px
				height: 270px
				width: 240px
				margin: 0 auto
				
				
			&__cards
				margin: 30px auto
				margin-bottom: 0
				height: 550px
				
				
			&__card
				cursor: pointer
				margin: 0 6px
				height: 490px
				width: 350px
				border: 1px solid transparent
				border-radius: 25px
				transition: 0.5s
				position: relative
				&:hover
					border: 1px solid #ffd321
					border-radius: 25px
				&::after
					content: '190 руб'
					padding-top: 3px
					color: #fff
					font-family: $Bold, san-serif
					font-size: 20px
					
					background-color: #f61a53
					display: block
					width: 100px
					height: 30px
					border-radius: 20px 0px 0 20px
					position: absolute
					top: 255px
					right: 0px
				&-info
					
					padding-top: 30px
					h3
						font-family: $Bold, sans-serif
						font-size: 20px
						line-height: 41px
					p
						padding-top: 3px
						font-size: 16px
						span
							font-size: 14px
						
				&-button
					cursor: pointer
					margin-top: 18px
					background-color: transparent
					color: #f61a53
					font-family: $Bold, sans-serif
					font-size: 18px
					border: 1px solid #f61a53
					border-radius: 35px
					height: 40px
					width: 140px
					
					&:hover
						background-color: #f61a53
						color: #ffffff
						border: 1px solid #f61a53
		
		&-bottom
			width: 1200px
			height: 550px
			padding-top: 65px
			&__img
				height: 100%
				margin: 0 auto
				

			&__img-wrap
				padding-top: 35px
				height: 270px
				width: 240px
				margin: 0 auto
				
				
			&__cards
				margin: 0 auto
				height: 550px
				
				
			&__card
				cursor: pointer
				margin: 0 6px
				height: 490px
				width: 350px
				border: 1px solid transparent
				border-radius: 25px
				transition: 0.5s
				position: relative
				&:hover
					border: 1px solid #ffd321
					border-radius: 25px
				&::after
					content: '390 руб'
					padding-top: 3px
					color: #fff
					font-family: $Bold, san-serif
					font-size: 20px
					
					background-color: #f61a53
					display: block
					width: 100px
					height: 30px
					border-radius: 20px 0px 0 20px
					position: absolute
					top: 255px
					right: 0px
				&-info
					
					padding-top: 30px
					h3
						font-family: $Bold, sans-serif
						font-size: 20px
						line-height: 41px
					p
						padding-top: 3px
						font-size: 16px
						span
							font-size: 14px
						
				&-button
					cursor: pointer
					margin-top: 18px
					background-color: transparent
					color: #f61a53
					font-family: $Bold, sans-serif
					font-size: 18px
					border: 1px solid #f61a53
					border-radius: 35px
					height: 40px
					width: 140px
					
					&:hover
						background-color: #f61a53
						color: #ffffff
						border: 1px solid #f61a53
		&-bottom
			&__img
			&__img-wrap
			&__cards
			&__card
				&__info
					h1	
					p
				&-button


.arrow
	&_left
		background: url(../img/arrows/left-arrow.png) center no-repeat
		width: 110px
		height: 490px
		position: absolute
		top: 0px
		left: -65px
		border-radius: 50px
		z-index: 999
		background-color: #fff
		&:hover
			z-index: 999 !important
			background-color: #fff !important
			background: url(../img/arrows/left-arrow-hover.png) center no-repeat
			

	&_right
		background: url(../img/arrows/right-arrow.png) center no-repeat
		width: 110px
		height: 490px
		position: absolute
		top: 0px
		right: -80px
		border-radius: 50px
		z-index: 999
		background-color: #fff
		&:hover
			z-index: 999
			background: #fff url(../img/arrows/right-arrow-hover.png) center no-repeat
@media (max-width: 1352px) 
	.goods
		&-slider
			&-top
				width: 85%
				&__card
					width: 450px
				
					
			&-bottom
				width: 85%
				&__card
					width: 450px
					

	.arrow
		&_left
		
			height: 100%
			top: -20px
			left: -25px
		&_right
			
			height: 100%
			top: -20px
			right: -25px
@media (max-width: $width__lg ) 
	.goods
		&-slider
			&-top
			
				&__card
					margin: 0 50px
					&-info
						p
							font-size: 14px
			&-bottom
				
				&__card
					margin: 0 50px
					&-info
						p
							font-size: 14px
	.title
		text-align: center
		font-size: 26px
		h1
			font-size: 26px
			line-height: 30px
	.descr
		font-size: 14px
@media (max-width: $width__lg ) 	
	.title
		width: 78%
		margin: 0 auto
		h1
			line-height: 30px
	.descr
		width: 78%
		margin: 0 auto
@media (max-width: $width__sm ) 
	.goods
		padding-bottom: 0
		&-header
			width: 100%
		&-slider
			&-top
				height: 540px
				&__img-wrap
					max-width: 150px
					max-height: 220px
					display: flex
					justify-content: center
				&__card
					margin: 0 5px
					height: 420px
					border: 1px solid #ffd321
					border-radius: 25px
					&:hover
						border: 1px solid #ffd321
						border-radius: 25px
					&-button
					
						background-color: #f61a53
						color: #ffffff
						
						
						&:hover
							
							border: 1px solid #f61a53
					&-info
						p
							font-size: 14px
					&::after
						top: 215px
			&-bottom
				padding-top: 20px
				height: 540px
				&__img-wrap
					max-width: 150px
					max-height: 220px
					display: flex
					justify-content: center
				&__card
					margin: 0 5px
					height: 420px
					border: 1px solid #ffd321
					border-radius: 25px
					&:hover
						border: 1px solid #ffd321
						border-radius: 25px
					&-button
					
						background-color: #f61a53
						color: #ffffff
						
						
						&:hover
							
							border: 1px solid #f61a53
					&-info
						p
							font-size: 14px
					&::after
						top: 215px
				
	.arrow
		&_left
			background: url(../img/arrows/left-arrow-hover.png) center no-repeat
			background-size: 30%
			width: 65px
			height: 490px
			position: absolute
			top: -25px
			left: -25px
			border-radius: 50px
			z-index: 999
			background-color: #fff
			&:hover
				z-index: 999 !important
				background-color: #fff !important
				background: url(../img/arrows/left-arrow-hover.png) center no-repeat
				background-size: 30%
				

		&_right
			background: url(../img/arrows/right-arrow-hover.png) center no-repeat
			background-size: 30%
			width: 65px
			height: 490px
			position: absolute
			top: -25px
			right: -25px
			border-radius: 50px
			z-index: 999
			background-color: #fff
			&:hover
				z-index: 999
				background: #fff url(../img/arrows/right-arrow-hover.png) center no-repeat
				background-size: 30%
