.mainscreen
	background-color: #f6f6f6
	

	&__offer
		
		width: 550px
		height: 570px
		padding: 170px 0 0 0
		&-title
			font-family: $Bold, sans-serif
			font-size: 36px
			line-height: 51px
			width: 510px
		&-descr
			font-family: $Light, sans-serif
			width: 370px
			padding-top: 20px
		&-button
			cursor: pointer
			&-wrap
				padding-top: 35px
				
	&__img
		width: 100%
		z-index: 1
		&-wrap
			position: relative		
			width: 680px
			
			
		&-wrapper
			margin: -30px 0 0 0
	&__form
		&-wrap
			padding: 20px 20px 20px 30px
			background-color: #faeb78
			border: 1px solid #faeb78
			border-radius: 10px
			width: 192px
			height: 110px
			position: absolute
			bottom: 75px
			right: -94px
		&-button
			cursor: pointer
			background-color: #faeb78
			color: #ff3366
			border: 1px solid #ff3366
			border-radius: 15px
			width: 72px
			height: 22px
			display: inline-block
			&:hover
				background-color: #f61a53
				color: #fff
		&-title
			font-family: $Bold, sans-serif
			font-size: 16px
		&-descr
			font-size: 12px
			padding-top: 6px
		&-cost
			
			display: inline-block
			padding-top: 13px
			
			width: 60px
			font-family: $Bold, sans-serif
			font-size: 16px
			color:#ff3366
.features
	
	width: 100%
	margin-top: -2px
	display: flex
	justify-content: space-around
	
	&::after
		content: ''
		
	&-wrap
		padding-left: 0px
		padding-right: 0px
		display: flex
		flex-direction: row
		align-items: center
		height: auto
		// width: 315px
		&:first-child
			margin-left: -5px
		&:last-child
			padding-left: 30px
	&-icon
		&__wrap
			padding-right: 20px
#wave
	background: #fff url(../img/main-screen.png) repeat-x
	background-position: center
	height: 300px
	width: 100%
	margin-top: -70px
	z-index: -1

@media (max-width: $width__xl) 
	.mainscreen
		&__img
			&-wrap
				
				width: 480px
				padding-top: 45px
				&er
					z-index: -1
		&__offer
			padding: 130px 0 0 0
		&__form
			&-wrap
				bottom: 105px
				right: -70px
		
	.features

	
		&::after
			
			
		&-wrap
			
			&:first-child
				margin-left: 0px
			&:last-child
				padding-left: 0px

@media (max-width: $width__lg) 
	body
		font-size: 14px
	.mainscreen
		padding-top: 20px
		&__offer
			z-index: 2
			padding: 30px 0 0 0
			height: auto
		&__form
			&-wrap
				bottom: 40px
				right: -14px
	.features

	
		&::after
			
			
		&-wrap
			padding-left: 70px
			padding-top: 20px
			&:last-child
				padding-left: 70px
@media (max-width: $width__md)
	
	.mainscreen
		&__offer
			&-title
				width: 100%
				text-align: center
				font-size: 30px
				line-height: 35px
			&-descr
				width: 100%
				text-align: center
			&-button
				&-wrap
					justify-content: center
					display: flex
		&__img
			&-wrap
				padding-top: 0
		&__form
			&-wrap
				bottom: 5px
				right: 70px
	.features
		padding-top: 30px
		width: 100%
		margin: 0 auto
		&-wrap
			margin: 0 auto
			width: 80%
			padding-left: 0
			justify-content: center
			&:last-child
				padding-left: 0
@media (max-width: $width__sm)
	
	.mainscreen
		&__offer
			justify-content: center
			width: 90%
		&__img
			&-wrapper
				display: flex
				justify-content: center
		&__wrapper
			display: flex
			justify-content: center
		&__img-wrap
			max-width: 300px
		&__form
			&-wrap
				bottom: -30px
				padding: 12px 15px 15px 15px
				width: 175px
				height: 95px
			&-button
				background-color: #f61a53
				color: #fff
	.features
		justify-content: center
		&-wrap
			width: 100%
			