.production
	display: flex
	flex-direction: column
	justify-content: center
	background: #f6f6f6
	height: 840px
	
	&-wrap
		display: flex
		justify-content: center
		flex-direction: column
	&-container
		&__wrapper
			display: flex
			justify-content: center
			padding-top: 20px
		&__wrap
			display: flex
			flex-direction: column
			justify-content: flex-end
			align-content: center
			align-items: center
			padding-top: 60px
			padding-left: 10px
		&__text
			display: flex
			flex-direction: column
			
			align-content: center
			align-items: center
			padding-bottom: 75px	
			h3
				font-family: $Bold, sans-serif
				font-size: 18px
				line-height: 38px
				color: #f61a53
			// 
	&-button
		margin: 0 auto
		padding-top: 10px
		
	&-title
		display: flex
		justify-content: center
		
		h1
			padding: 35px 0 0 0
		&__descr
			display: flex
			justify-content: center
			text-align-last: center
			width: 475px
			margin: 0 auto
	&-descr
		
		&__wrap
		
				
	&-img
		
		height: 100%
		&__wrap
			width: 350px
			height: 350px
			margin: 0 30px

.left
	text-align: right
	
.right
	text-align: left
.row-wrap
	margin-top: -20px
	justify-content: center


@media (max-width: 1199px)
	.production
		&-img
			&__wrap
				margin-top: 20px
				&er
					align-items: center
		&-title
			h1
				padding: 0
		&-container
			&__text
				padding-bottom: 20px
				width: 230px
				h3
					line-height: 22px
			
		&-button
			padding-top: 50px
@media (max-width: $width__lg)
	.production
		height: 100%
		padding: 100px 0
		&-title
			text-align: center
			h1
				line-height: 30px
		&-img
			&__wrap
				margin: 10px auto
		&-container
			&__wrap
				
				padding-left: 0
			&__wrapper
				flex-direction: column
				padding-top: 0
				padding-left: 0
			&__text
				width: 93%
	.row-wrap
		margin-top: 0

	.text-left
		text-align: left
	.text-right
		text-align:: right
@media (max-width: $width__md)
	.production
		height: 100%
		padding: 70px 0
		&-img
			&__wrap
				width: 100%
				height: 100%
				display: flex
				justify-content: center
@media (max-width: $width__sm)
	.production
		&-container
			&__text
				text-align: center
	.text-left
		text-align: center
	.text-right
		text-align: center
